<header class="site-header">
  <div class="logo-wrapper">
    <a href="/"><h2 class="site-title">{{ site.title }}</h2></a>
    <a href="/"><h1 class="logo">
      <img src="/assets/images/emoji_bluebook.png" alt="emoji green book" />
      <span>+</span>
      <img src="/assets/images/emoji_classicalbuilding.png" alt="emoji classical building" />
      <img src="/assets/images/emoji_framewithpicture.png" alt="empoji frame with picture" />
      <span>+</span>
      <img src="/assets/images/emoji_laptop.png" alt="emoji laptop" />
      <span>=</span>
      <img src="/assets/images/emoji_hearteyes.png" alt="emoji face with hearts for eyes" />
    </h1></a>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="/about">About</a></li>
      <li class="submenu-wrapper">
        <a href="#">Connect<span> > </span>
        </a>
        <ul class="submenu">
            <li><a href="/committee">Committee</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
      </li>
      <li class="submenu-wrapper">
          <a href="#">Learn<span> > </span>
          </a>
          <ul class="submenu">
              <li><a href="/webinars">Webinars</a></li>
              <li><a href="/best-practices">Best Practices</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/showcase">Showcase</a></li>
          </ul>
      </li>
  </ul>


  </nav>
</header>
