<header class="site-header">
  <div class="logo-wrapper">
    <a href="/"><h2 class="site-title">{{ site.title }}</h2></a>
    <a href="/"><h1 class="logo">
      <img src="/assets/images/emoji_bluebook.png" alt="emoji green book" />
      <span>+</span>
      <img src="/assets/images/emoji_classicalbuilding.png" alt="emoji classical building" />
      <img src="/assets/images/emoji_framewithpicture.png" alt="empoji frame with picture" />
      <span>+</span>
      <img src="/assets/images/emoji_laptop.png" alt="emoji laptop" />
      <span>=</span>
      <img src="/assets/images/emoji_hearteyes.png" alt="emoji face with hearts for eyes" />
    </h1></a>
  </div>
  <nav>
    {% for nav in site.data.navigation.items %}
    <a href="{{ nav.link }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
