/*

yellow: #ffcc4d
brown: #664500
blue: #55acee
dark-blue: #226699
red: #e75a70
dark-red: #ba1933
light-gray: #e1e8ed
gray: #ccd6dd
dark-gray: #9aaab4
black: #292f33

*/


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #292f33;
  line-height: 1.4em;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

main {
  padding-bottom: 260px;
}

a {
  color: #292f33;
}

a:hover {
  background-color: #ffcc4d;
}

h1, h2 {
  font-family: CooperHewitt_Heavy;
}

h2 {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.site-header {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.site-header a {
  text-decoration: none;
}

.site-header img {
  display: inline-block;
  width: 72px;
  max-width: 10%;
  vertical-align: middle;
}

.site-header .site-title {
  color: #55acee;
  text-align: right;
  float: right;
  margin-top: 1.5em;
}

main section {
  padding: 0 1.5rem;
  max-width: 740px;
  margin: 200px auto 2rem;
}

.video-block {
  width: 100%;
}

.title-block {
  margin: 12em 0 4em;
  text-align: center;
}

.title-block h1 {
  font-size: 3em;
}

.text-block {
  font-size: 1.5em;
  line-height: 1.4em;
}

.text-block strong {
  font-family: CooperHewitt_Bold;
  font-size: .8em;
  text-transform: uppercase;
}

.text-block ul {
  list-style-type: square;
}

.text-block ul li {
  margin-bottom: 1em;
}

.button-block {
  font-size: 1em;
  text-align: center;
  height: 7em;
  margin: 12em 0 4em;
}

.button-group {
  width: 40%;
  margin: 0 5%;
  float: left;
  font-family: CooperHewitt_Medium;
  color: #9aaab4;
}

.button-group p {
  margin-left: 8%;
  margin-right: 8%;
}

.button-group .button {
  font-family: CooperHewitt_Bold;
  letter-spacing: 1px;
  font-size: 1.6em;
  width: 100%;
	height: 2.5em;
	background-color: #ccd6dd;
	color: #fff;
	border: 3px #ccd6dd solid;
	border-radius: 6px;
	padding-left: 5%;
	padding-right: 5%;
  padding-top: .2em;
}

.button-group .button:hover {
  background-color: #9aaab4;
  border-color: #9aaab4;
}

.form-block {
  width: 100%;
  margin-top: 3rem;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 48px);
  height: 180px;
  font-family: CooperHewitt_Book;
  margin-top: 8em;
  background-color: #ffcc4d;
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-around;
}

.site-footer ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 1em;
}

.site-footer ul li {
  margin-bottom: .5em;
}

.site-footer .icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: bottom;
  margin-right: .5em;
}

.site-footer .icon svg path {
  fill: #292f33;
}
