---
layout: default
---
<main>
  <section class="title-block">
    <h1>Committee</h1>
  </section>

  <section class="text-block">
    {{ content }}
  </section>

  <section>
    {% assign members = site.data.committee.members %}
    {% for member in members | sort: "isModerator", "last" %}
      <p>
        <div><strong>{{ member.name }}</strong></div>
        <div><i>{{ member.affiliation }}</i></div>
        </div><a href="mailto:{{ member.email }}">{{ member.email }}</a></div>
      </p>
    {% endfor %}
  </section>
</main>
