---
layout: default
---
<main>
  <section class="text-block">
    <ul>
      {% for webinar in site.posts | sort: 'date' | reverse %}
        <li>
          <a href="{{ webinar.url }}">
            <div>
              <img src="https://img.youtube.com/vi/{{ webinar.video_id}}/hqdefault.jpg" alt="{{ webinar.title }} video thumbnail"/>
              <strong>{{ webinar.title }}</strong>
              <i>{{ page.date | date_to_string: "ordinal", "US" }}</i>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>
