---
layout: default
---
<main>
  <section class="title-block">
    <h1>{{ page.title }}</h1>
    <i>{{ page.date | date_to_long_string: "ordinal", "US" }}</i>
  </section>
  <div>
    {% for tag in page.tags %}
      <span>{{ tag }}</span>
    {% endfor %}
  </div>

  <section>
    <iframe
      width="100%"
      height="400"
      src="https://www.youtube.com/embed/{{ page.video_id }}?controls=0"
      title="{{ page.title }}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </section>
  {% for url in page.slides_url %}
    <section>
      <a href="{{url.link}}">Download {{url.title}}</a>
    </section>
  {% endfor %}
  <section class="text-block">
    {{ content }}
  </section>
</main>
